[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/"
  to = "/login"
  status = 302

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  VITE_API_URL = "https://sgs-cesmac.netlify.app"